---
import SeePrices from './SeePrices';
import '/public/Styles/global.css';
---


<div class="container  max-w-[1340px] mx-auto py-2 sm:pt-10 px-3 sm:px-16 " >
    <div class="none lg:flex justify-between" >
    <div class="w-full" >
        <SeePrices client:load />
    </div>
    <div class="my-10 lg:mt-0  " >
        <img src='/images/hero/hero.png'   width="800" height="800"  alt="hero image" class=" rounded-2xl  " />
    </div>
    </div>
</div>